#register-dropdown {
	padding: 5px 10px 5px 10px;
}
#register-dropdown p {
	padding-top: 10px;
	font-size: 0.75em;
	float: right;
}
#register-dropdown input {
	margin-bottom: 3px;
}
#register-dropdown .button {
	margin-top: 7px;
}

.f-dropdown.register {
	max-width: 222px;
}